[submodule "third_party/openweave-core"]
	path = third_party/openweave-core
	url = https://github.com/openweave/openweave-core.git
[submodule "third_party/openthread"]
	path = third_party/openthread
	url = https://github.com/openthread/openthread.git
